.about-section {
  position: relative;
  overflow: hidden;
  min-height: 1000px;
  height: 100%;
  background-color: transparent;
}

.about-container {
  height: 100% !important;
  display: flex;
  flex-direction: row;
}

.about-section .sec-title {
  margin-bottom: 45px;
}

.about-section .content-column {
  position: relative;
  height: 100% !important;
  padding: 50px;
  width: 50%;
  order: 1;
}

.about-section .text {
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 26px;
  color: black;
  font-weight: 400;
}

.about-section .list-style-one {
  margin-bottom: 45px;
  text-align: left;
  list-style-type: none;
  padding-left: 0;
}

.about-section .btn-box {
  position: relative;
}

.about-section .btn-box a {
  padding: 15px 50px;
}

.about-section .image-column {
  position: relative;
  height: 100% !important;
  width: 50%;
}

.about-section .image-column .inner-column {
  position: relative;
  min-height: 1015px;
  height: 100%;
  padding-left: 120px;
  padding-bottom: 125px;
  /* background-color: red; */
}


.about-section .image-column .image-1 {
  position: relative;
  width: 100%;
  overflow: visible;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);
  border-radius: 10px 10px 0 0 !important;
  clip-path: polygon(
    0 0, 100% 0, 100% 85%, 95% 85%, 90% 90%, 85% 85%, 80% 90%, 
    75% 85%, 70% 90%, 65% 85%, 60% 90%, 55% 85%, 50% 90%, 
    45% 85%, 40% 90%, 35% 85%, 30% 90%, 25% 85%, 20% 90%, 
    15% 85%, 10% 90%, 5% 85%, 0 90%
  );
  
}

.about-section .image-column .image-2 {
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: visible;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);
  border-radius: 0 10px 0 0;
  clip-path: polygon(
    0 15%, 5% 10%, 10% 15%, 15% 10%, 20% 15%, 25% 10%, 30% 15%, 
    35% 10%, 40% 15%, 45% 10%, 50% 15%, 55% 10%, 60% 15%, 
    65% 10%, 70% 15%, 75% 10%, 80% 15%, 85% 10%, 90% 15%, 
    95% 10%, 100% 15%, 100% 100%, 0 100%
  );
}

.about-section .image-column .image-1 img {
  width: 100%;
  height: 650px;
}

.about-section .image-column .image-2 img {
  width: 360px;
  height: 410px;
}

.about-section .image-column .image-2 img,
.about-section .image-column .image-1 img {
  box-shadow: 0 30px 50px rgba(8, 13, 62, 0.15);
}

.sec-title .title {
  position: relative;
  display: block;
  font-size: 18px;
  line-height: 24px;
  color: #ff2222;
  font-weight: 500;
  margin-bottom: 15px;
}

.sec-title h2 {
  position: relative;
  display: block;
  font-size: 40px;
  line-height: 1.28em;
  color: #222222;
  font-weight: 600;
  padding-bottom: 18px;
}

.sec-title h2:before {
  position: absolute;
  content: "";
  left: 0px;
  bottom: 0px;
  width: 50px;
  height: 3px;
  background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
}

.list-style-one li {
  position: relative;
  font-size: 16px;
  line-height: 26px;
  color: #222222;
  font-weight: 400;
  padding-left: 35px;
  margin-bottom: 12px;
}

.list-style-one li::before {
  content: "\2713";
  position: absolute;
  left: 0;
  color: #5ad67d;
  font-weight: bold;
}

.btn-style-one {
  position: relative;
  display: inline-flex;
  background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
  padding: 15px 35px;
  border-radius: 50px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  justify-content: center;
  text-align: center;
  letter-spacing: 1px;
}

.btn-style-one:hover {
  background-color: #001e57;
  color: #ffffff;
}

.specialist-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center ;
  gap: 20px;
}

.single-specialist-container {
  width: 120px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.single-specialist {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.single-specialist:hover,
.single-specialist img {
  scale: 1.1;
  transition: 0.3s;
}

@media screen and (max-width: 1024px) {
  .about-section .image-column .inner-column  {
  min-height: 1150px;
}

.about-section .image-column .image-1 img {
  height: 600px;
}

.about-section .image-column .image-2 img {
  height: 600px ;
  width: 400px ;
}
}


@media screen and (max-width: 768px) {

.about-container {
  flex-direction: column;
}

.about-section .image-column {
  width: 100%;
  padding: 40px 15px !important;
}

.about-section .content-column {
  width: 100%;
  padding: 40px 15px;
}

.about-section .image-column .inner-column  {
  min-height: 480px;
}

.about-section .image-column .image-1 {
  border-radius: 0;
}

.about-section .image-column .image-1 img {
  width: 100%;
  height: 300px !important;
  border-radius: 10px 10px 0 0;
}

.about-section .image-column .image-2 img {
  width: 250px;
  height: 200px;
  border-radius: 0 0 10px 10px;
}

.sec-title h2 {
  font-size: 25px;
}

.about-section .image-column .image-1, .about-section .image-column .image-2 {
  border-radius: 10px;
}

.about-section .btn-box {
  margin-top: 20px;
}

.specialist-box {
  justify-content: center;
}

}

@media screen and (max-width: 425px) {

  .about-section .image-column .inner-column {
    min-height: 380px;
  }

  .about-section .image-column .image-1 img {
    height: 200px !important;
  }

  .about-section .image-column .image-2 img {
  height: 200px !important;
  width: 250px !important;
  }

.single-specialist-container {
  width: 90px;
  height: 90px;
}

.single-specialist {
  width: 40px;
  height: 40px;
}

.single-specialist-container h3 {
  font-size: 12px;
}

.btn-style-one {
  padding: 10px 25px !important;
    font-size: 14px;
    margin-top: 30px;
}

}