/* BlogSlider.css */

.blog-slider-container {
  height: 500px;
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.blog-slider {
  width: 96%;
  height: 100%;
  position: relative;
  margin: 0;
  background: #fff;
  border: 1px solid #e6e6e6;
  padding: 25px;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.swiper-wrapper {
  height: 100%;
  width: 100%;
}

.blog-slider__item {
  height: 100%;
  width: 1rem;
  display: flex;
  align-items: center;
  opacity: 0;
  position: absolute;
}

.blog-slider__item.active {
  width: 100%;
  opacity: 1;
  transform: scale(1);
  visibility: visible;
  position: relative;
  z-index: 1;
}

.blog-slider__item.transitioning {
  z-index: 0;
}

.blog-slider__img {
  width: 800px;
  height: 100%;
  flex-shrink: 0;
  transform: translateX(-75px);
  overflow: hidden;
  border-radius: 5px;
  
}

.blog-slider__img img {
  width: 100%;
  height: 100%;
  transition-delay: 0.3s;
}

.blog-slider__content {
  padding-right: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* -------------------- */

.blog-slider__content > * {
  opacity: 0;
  transform: translateY(25px);
  transition: all 0.4s ease;
}

.blog-slider__item.active .blog-slider__content > * {
  opacity: 1;
  transform: translateY(0);
}

.blog-slider__item.active .blog-slider__content > *:nth-child(1) {
  transition-delay: 0.1s;
}
.blog-slider__item.active .blog-slider__content > *:nth-child(2) {
  transition-delay: 0.2s;
}
.blog-slider__item.active .blog-slider__content > *:nth-child(3) {
  transition-delay: 0.3s;
}
.blog-slider__item.active .blog-slider__content > *:nth-child(4) {
  transition-delay: 0.4s;
}

/* -------------------- */

.blog-slider__code {
  color: #7b7992;
  margin-bottom: 15px;
  display: block;
  font-weight: 500;
}

.blog-slider__title {
  font-size: 24px;
  font-weight: 700;
  color: #0d0925;
  margin-bottom: 20px;
}

.blog-slider__text {
  color: #4e4a67;
  margin-bottom: 30px;
  line-height: 1.5em;
}

.blog-slider__button {
  display: inline-flex;
  background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
  padding: 15px 35px;
  border-radius: 50px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  justify-content: center;
  text-align: center;
  letter-spacing: 1px;
}

.blog-slider__pagination {
  position: absolute;
  z-index: 21;
  right: 20px;
  width: 11px !important;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  left: auto !important;
  top: 50%;
  bottom: 0px !important;
  transform: translateY(-50%);
}

.blog-slider__pagination-bullet {
  width: 11px;
  height: 11px;
  display: block;
  border-radius: 10px;
  background: #062744;
  opacity: 0.2;
  transition: all 0.3s;
  cursor: pointer;
  margin: 8px 0;
}

.blog-slider__pagination-bullet.active {
  opacity: 1;
  background: #fd3838;
  height: 30px;
  box-shadow: 0px 0px 20px rgba(252, 56, 56, 0.3);
}

@media screen and (max-width: 1160px) {
  .blog-slider-container {
    height: auto;
    width: 100%;
    justify-content: center;
    
  }

  .blog-slider {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 !important;
    padding-bottom: 20px;
  }

  .swiper-wrapper {
    width: 100%;
    padding: 0 !important;
    margin: 0 0 30px 0 !important;
  }

  .blog-slider__item {
    flex-direction: column;
    height: auto;
    width: 100%;
  }

  .blog-slider__item:active {
    width: 100%;
  }

  .blog-slider__img {
    position: relative;
    width: 100%;
    height: 500px;
    transform: none;
    margin-bottom: 20px;
  }

  .blog-slider__content {
    width: 100%;
    padding: 0;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .blog-slider__pagination {
    position: absolute;
    width: 90% !important;
    height: 50%;
    transform: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    gap: 5px;
  }

  .blog-slider__pagination-bullet {
    margin: 20px 0;
  }

  .blog-slider__pagination-bullet.active {
  width: 30px;
  height: 11px;
}

}

@media screen and (max-width: 480px) {
  .blog-slider__code {
    margin-bottom: 10px;
  }

  .blog-slider-container {
    padding: 0 10px;
  }

  .blog-slider__img {
    height: 200px;
  }

  .blog-slider__title {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .blog-slider__text {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .blog-slider__button {
    padding: 10px 25px;
    font-size: 14px;
    margin-bottom: 30px;
  }
}
