@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

#root {
  /* max-width: 1280px; */
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  font-family: 'Fira Sans', sans-serif;
}


